@page "/"
@using Budget.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Main</PageTitle>

<h1>Main</h1>

@if (_expenses == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Utgift</th>
            <th>Kategori</th>
            <th>Kostnad</th>
            <th>Datum</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var expense in _expenses)
        {
            <tr>
                <td>@expense.Id</td>
                <td>@expense.Title</td>
                <td>@expense.Category.Name</td>
                <td>@expense.Amount</td>
                <td>@expense.Date</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Expense>? _expenses;
    
    protected override async Task OnInitializedAsync()
    {
        //_expenses = await GetExpenses();
    }
/*
    private static async Task<List<Expense>?> GetExpenses()
    {
        await using var db = new Data.BudgetContext();
        return await db.Expenses.Include(e => e.Category).ToListAsync();
    }*/
}