@page "/"
@using Budget.Models
@using Budget.Services
@rendermode InteractiveServer
@inject IExpenseService ExpenseService

<PageTitle>Main</PageTitle>

<h1>Main</h1>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Utgift</th>
        <th>Kategori</th>
        <th>Kostnad</th>
        <th>Datum</th>
    </tr>
    </thead>
    <tbody>
    @if (_expenses is not null)
    {
        foreach (var expense in _expenses)
        {
            <tr>
                <td>@expense.Id</td>
                <td>@expense.Title</td>
                <td>@expense.Category.Name</td>
                <td>@expense.Amount</td>
                <td>@expense.Date</td>
            </tr>
        }
    }
    </tbody>
</table>


@code {
    private List<Expense>? _expenses;

    protected override async Task OnInitializedAsync()
    {
        _expenses = await ExpenseService.GetExpensesAsync();
    }
}